/* Cores principais 
verde : #346635
roxa : #472387
*/

/* Seleciona cada um dos elementos do html */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* Define a cor da fonte */
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior:smooth;
}

header{
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
    url(img/img-hero-header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /*Transforma o header em um container flex*/
    display: flex;
    /* align-items: center;    */
    flex-wrap: wrap;
}

h1{
    margin: 0;
    color: #FFF;
    font-size: 180%;
    text-transform: uppercase;
    font-weight: 300;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.hero-text-box{
    margin-left: 10%;
}

.btn:link,
.btn:visited{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid #E67E22;
    border-radius: 200px;
    color: #FFF;
    transition: 0.2s;
}

.btn-full:link,
.btn-full:visited{
    background-color: #E67E22;
    margin-right: 10px;
}

.btn:hover,
.btn:active{
    background-color: #CF6D17;
    border: 1px solid #CF6D17;
}

/**************Menu***************/
.main-nav{
    width: 100%;
    padding: 0 30px;
}
.logo{
    height: 100px;
    float: left;
    margin-top: 20px;
}
.main-nav ul{
    float: right;
    list-style-type: none;
    margin-top: 55px;
}

.main-nav ul li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav ul li a:link,
.main-nav ul li a:visited{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 6px 0;
    transition: border-bottom 0.2s;
}
.main-nav ul li a:hover,
.main-nav ul li a:active{
    border-bottom: 2px solid #E67E22;
}

/**************section-feature***************/
section{
    padding: 80px 0;
}

h2{
    font-size: 180%;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

h2::after{
    content: " ";
    height: 2px;
    width: 100px;
    background-color: #E67E22;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 110%;
}

ion-icon{
    font-size: 350%;
    color: #E67E22;
}

.feature-intro{
    width: 70%;
    margin-left: 15%;
    line-height: 145%;
}

.box{
    display: inline-block;
    width: 24%;
    padding: 1%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

/*******************************************/
/******** SECTION TESTIMONIALS *************/
/*******************************************/

.section-testimonials{
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url(../img/3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #FFF;
}

blockquote{
    font-style: italic;
    width: 32%;
    display: inline-block;
    padding: 2%;
    line-height: 145%;
} 

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

cite{
    display: block;
    font-size: 90%;
    margin-top: 25px;
}

blockquote::before{
    content: "\201C";
    font-size: 400%;
    display: block;
}

/*********************************/
/*************Galeria*************/
/*********************************/
.photo-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.photo-list li{
    width: 25%;
    overflow: hidden;
    background-color: #000;
}

.photo-list li figure img{
    width: 100%;
    transform: scale(1.15);
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s;
}

.photo-list li figure img:hover{
    transform: scale(1.03);
    opacity: 1;
}



/*********************************/
/*************Rodapé**************/
/*********************************/
footer{
    background-color: #333;
    font-size: 80%;
    padding: 40px 0;
}

.footer-nav,
.social-nav{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.footer-top{
    display: flex;
    justify-content: space-around;
}

.footer-nav li a:visited,
.footer-nav li a:link,
.social-nav li a:visited,
.social-nav li a:link{
    text-decoration: none;
    color: #888;
}

.social-nav li a:visited,
.social-nav li a:link{
    font-size: 50%;
}

.logo-twitter:hover{
    color: #00aced;
}

.logo-instagram:hover{
    color: #517fa4;
}

.logo-facebook:hover{
    color: #3b5998;
}

.logo-youtube:hover{
    color: #FF0000;
}

.logo-twitter,
.logo-instagram,
.logo-facebook,
.logo-youtube{
    transition: color 0.2s;
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 20px;
}

.clearfix::before, .clearfix::after {
    content: ' ';
    display: table;
  }
  .clearfix::after{
   clear: both;
  }


/*********************************/
/*************TABLET**************/
/*********************************/

/*Aplica as propriedades de css em telas menores que 788px*/
@media only screen and (max-width: 788px){
    .main-nav div{
        display: flex;
        flex-direction: column;
    }

    h1{
        font-size: 120%;
    }

    .box{
        width: 49%;
    }

    .photo-list{
        display: flex;
    }

    .photo-list li{
        flex-basis: 280px;
        flex-grow: 1;
    }

    .section-testimonials blockquote:first-child{
        width: 100%;
        margin-bottom: 20px;
    }

    .section-testimonials blockquote:nth-child(n+2)
    {
        width: 49%;
        float: left;
    }
}

/*********************************/
/*************CELULAR**************/
/*********************************/

/*Aplica as propriedades de css em telas 
menores que 600px*/
@media only screen and (max-width: 600px){
    .footer-top{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-top nav{
        margin-bottom: 20px;
    }

    .section-testimonials blockquote:nth-child(n+2){
        display: block;
        width: 100%;
    }

    .box{
        width: 100%;
        margin-bottom: 20px;
    }

}